

@model IEnumerable<WebBanHang.Models.StoreFilterModel>
@{


}
<section class="col-md-2" id="filters">
    <h5>Filters</h5>
    <div class="dropdown-sort">
        <button class="btn dropdown-toggle hidden-arrow"
                type="button"
                id="dropdownMenuSorting"
                data-mdb-toggle="dropdown"
                aria-expanded="false">
            Sắp xếp theo
        </button>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuSorting" style="height: max-content;">
            @Html.ActionLink("Sắp xếp tăng dần theo tên SP", "SortingProduct", "Home", new { sortby = "Name" }, new { @class = "dropdown-item" })


            @Html.ActionLink("Sắp xếp giảm dần theo tên SP", "SortingProduct", "Home", new { sortby = "NameDesc" }, new { @class = "dropdown-item" })

            @Html.ActionLink("Sắp xếp theo giá SP tăng dần", "SortingProduct", "Home", new { sortby = "Price" }, new { @class = "dropdown-item" })

            @Html.ActionLink("Sắp xếp theo giá SP giảm dần", "SortingProduct", "Home", new { sortby = "PriceDesc" }, new { @class = "dropdown-item" })

        </div>
    </div>
    <!-- Section: Condition -->
    <section class="mb-4" data-filter="condition">
        <h6 class="font-weight-bold mb-3">Danh mục</h6>

        @foreach (var item in Model)
        {
            //onclick = "this.querySelector('input').click()"
            <div class="form-check mb-3" >
                @if (item.isCheck == true)
                {
                    <input class="form-check-input"
                           type="checkbox"
                           value="@item.c.Name"
                           onchange="App.SearchCategory(@item.c.Id, '','1')"
                           checked
                           autocompleted="" />
                }
                else
                {
                    <input class="form-check-input"
                           type="checkbox"
                           value="@item.c.Name"
                           onclick="App.SearchCategory(@item.c.Id, '', '1')"
                           autocompleted="" />
                }

                <label class="form-check-label text-uppercase small text-muted"
                       for="condition-checkbox">
                    @item.c.Name
                </label>
            </div>
        }

    </section>
    <!-- Section: Condition -->
    <!-- Section: Avg. Customer Review -->
    <section class="mb-4">
        <h6 class="font-weight-bold mb-3">Avg. Customer Review</h6>

        <ul class="rating"
            data-toggle="rating"
            id="filter-rating"
            tabindex="0">
            <li>
                <i class="far fa-star fa-sm text-primary"
                   title=""
                   data-toggle="tooltip"
                   data-original-title="1"></i>
            </li>
            <li>
                <i class="far fa-star fa-sm text-primary"
                   title=""
                   data-toggle="tooltip"
                   data-original-title="2"></i>
            </li>
            <li>
                <i class="far fa-star fa-sm text-primary"
                   title=""
                   data-toggle="tooltip"
                   data-original-title="3"></i>
            </li>
            <li>
                <i class="far fa-star fa-sm text-primary"
                   title=""
                   data-toggle="tooltip"
                   data-original-title="4"></i>
            </li>
            <li>
                <i class="far fa-star fa-sm text-primary"
                   title=""
                   data-toggle="tooltip"
                   data-original-title="5"></i>
            </li>
        </ul>
    </section>
    <!-- Section: Avg. Customer Review -->
    <!-- Section: Price -->
    <section class="mb-4">
        <h6 class="font-weight-bold mb-3">Price</h6>

        <div class="form-check mb-3">
            <input class="form-check-input"
                   type="radio"
                   name="flexRadioDefault"
                   id="price-radio" />
            <label class="form-check-label text-uppercase small text-muted"
                   for="price-radio">
                Under $25
            </label>
        </div>

        <div class="form-check mb-3">
            <input class="form-check-input"
                   type="radio"
                   name="flexRadioDefault"
                   id="price-radio2" />
            <label class="form-check-label text-uppercase small text-muted"
                   for="price-radio2">
                $25 to $50
            </label>
        </div>

        <div class="form-check mb-3">
            <input class="form-check-input"
                   type="radio"
                   name="flexRadioDefault"
                   id="price-radio3" />
            <label class="form-check-label text-uppercase small text-muted"
                   for="price-radio3">
                $50 to $100
            </label>
        </div>

        <div class="form-check mb-3">
            <input class="form-check-input"
                   type="radio"
                   name="flexRadioDefault"
                   id="price-radio4" />
            <label class="form-check-label text-uppercase small text-muted"
                   for="price-radio4">
                $100 to $200
            </label>
        </div>

        <div class="form-check mb-3">
            <input class="form-check-input"
                   type="radio"
                   name="flexRadioDefault"
                   id="price-radio5" />
            <label class="form-check-label text-uppercase small text-muted"
                   for="price-radio5">
                $200 &amp; above
            </label>
        </div>
    </section>
    <!-- Section: Price -->
    <!-- Section: Size -->
    <section class="mb-4" data-filter="size">
        <h6 class="font-weight-bold mb-3">Size</h6>

        <div class="form-check mb-3">
            <input class="form-check-input"
                   type="checkbox"
                   value="34"
                   id="price-checkbox" />
            <label class="form-check-label text-uppercase small text-muted"
                   for="price-checkbox">
                34
            </label>
        </div>

        <div class="form-check mb-3">
            <input class="form-check-input"
                   type="checkbox"
                   value="36"
                   id="price-checkbox2" />
            <label class="form-check-label text-uppercase small text-muted"
                   for="price-checkbox2">
                36
            </label>
        </div>

        <div class="form-check mb-3">
            <input class="form-check-input"
                   type="checkbox"
                   value="38"
                   id="price-checkbox3" />
            <label class="form-check-label text-uppercase small text-muted"
                   for="price-checkbox3">
                38
            </label>
        </div>

        <div class="form-check mb-3">
            <input class="form-check-input"
                   type="checkbox"
                   value="40"
                   id="price-checkbox4" />
            <label class="form-check-label text-uppercase small text-muted"
                   for="price-checkbox4">
                40
            </label>
        </div>
    </section>
    <!-- Section: Size -->
    <!-- Section: Color -->
    <section class="mb-4" data-filter="color">
        <h6 class="font-weight-bold mb-3">Color</h6>

        <div class="form-check form-check-inline m-0 p-0 pr-3">
            <input class="btn-check"
                   type="radio"
                   name="colorRadio"
                   id="colorRadio1"
                   value="white" />
            <label class="btn bg-light btn-rounded p-3"
                   for="colorRadio1"></label>
        </div>

        <div class="form-check form-check-inline m-0 p-0 pr-3">
            <input class="btn-check"
                   type="radio"
                   name="colorRadio"
                   id="colorRadio2"
                   value="grey" />
            <label class="btn btn-rounded p-3"
                   for="colorRadio2"
                   style="background-color: #bdbdbd"></label>
        </div>

        <div class="form-check form-check-inline m-0 p-0 pr-3">
            <input class="btn-check"
                   type="radio"
                   name="colorRadio"
                   id="colorRadio3"
                   value="black" />
            <label class="btn bg-dark text-white btn-rounded p-3"
                   for="colorRadio3"></label>
        </div>

        <div class="form-check form-check-inline m-0 p-0 pr-3">
            <input class="btn-check"
                   type="radio"
                   name="colorRadio"
                   id="colorRadio5"
                   value="blue" />
            <label class="btn bg-primary btn-rounded p-3"
                   for="colorRadio5"></label>
        </div>

        <div class="form-check form-check-inline mt-3 mr-0 p-0 pr-3">
            <input class="btn-check"
                   type="radio"
                   name="colorRadio"
                   id="colorRadio9"
                   value="red" />
            <label class="btn bg-danger btn-rounded p-3"
                   for="colorRadio9"></label>
        </div>

        <div class="form-check form-check-inline mt-3 mr-0 p-0 pr-3">
            <input class="btn-check"
                   type="radio"
                   name="colorRadio"
                   id="colorRadio10"
                   value="orange" />
            <label class="btn bg-warning btn-rounded p-3"
                   for="colorRadio10"></label>
        </div>
    </section>
    <!-- Section: Color -->
</section>