@model WebBanHang.Models.Product

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


@using (Html.BeginForm("Edit", "ProductManagerment", FormMethod.Post, new { @class = "form py-3 d-flex flex-column gap-3" }))
{

        @Html.AntiForgeryToken()
        <h2>Chỉnh sửa sản phẩm</h2>

        <hr />
        <div>
            <i class="fa fa-arrow-left"></i>
            @Html.ActionLink("Quay trở lại danh sách", "Index")
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">

            <label class="control-label col-md-2">Tên sản phẩm</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Giá sản phẩm</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Giảm giá</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Discount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Discount, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            <label class="control-label col-md-2">Tên sản phẩm</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Image, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            <div class="btn-group dropend">
                <div class="btn btn-primary dropdown-toggle"
                     role="button"
                     id="dropdownMenuLink"
                     data-mdb-toggle="dropdown"
                     aria-expanded="false">
                    Chọn danh mục sản phẩm
                </div>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="max-height: 200px; overflow-y: scroll;">
                    @{ var id = 0;}
                    @foreach (var c in Model.CategorySelections)
                    {
                    <li class="d-flex gap-2 px-3 py-2" style="width: max-content;">
                        @Html.HiddenFor(model => model.CategorySelections[id].Id)
                        @Html.HiddenFor(model => model.CategorySelections[id].Name)
                        @Html.DisplayFor(model => model.CategorySelections[id].Name)
                        @Html.CheckBoxFor(model => model.CategorySelections[id].IsSelected)
                    </li>
                        id++;
                    }
                </ul>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Số lượng sản phẩm</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Mô tả sản phẩm</label>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, new { @class = "d-block form-control w-100 px-3 py-2" })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group mt-3">
            <div class="col-md-offset-2 col-md-10 d-flex gap-3">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a href="@Url.Action("Index", "ProductManagerment")" class="btn">Hủy</a>
            </div>
        </div>
}
<div class="pb-3">
    <i class="fa fa-arrow-left"></i>

    @Html.ActionLink("Quay trở lại danh sách", "Index")
</div>
