@model WebBanHang.Models.ProductCategory

@{
    ViewBag.Title = "Edit Product";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    var p = Model.product;
 
}

<style>
    .form-group {
        margin-top: 10px;
    }
</style>

@using (Html.BeginForm("Edit", "ProductManagerment", new {productId = 4}, FormMethod.Post, new { @class="form py-3"}))
{ 
    <div></div>

    <div class="form-horizontal">
        <h2>Chỉnh sửa sản phẩm</h2>

        <hr />
        <div>
            <i class="fa fa-arrow-left"></i>
            @Html.ActionLink("Quay trở lại danh sách", "Index")
        </div>

        <div class="form-group">
            <label class="form-label" for="ProductName">Tên sản phẩm</label>
            <input type="text" id="ProductName" name="ProductName" value="@Model.product.Name" class="form-control" />

        </div>

        <div class="form-group">
            <label class="form-label" for="ProductPrice">Giá sản phẩm </label>
            <input type="text" id="ProductPrice" name="ProductPrice" value="@Model.product.Price" class="form-control" />

        </div>

        <div class="form-group">
            <label for="ProductImage" class="form-label">Chọn hình ảnh</label>
            <input class="form-control" type="file" id="ProductImage" name="ProductImage" value="@Model.product.Image" multiple />
        </div>

        <div class="form-group">
            <label for="ProductCategories" class="form-label">Chọn danh mục sản phẩm</label>
            <select class="select form-control" id="ProductCategories" name="ProductCategories">
                @foreach (var c in Model.categories)
                {
                    if (c.Id == Model.CategoryId)
                    {
                        <option value="@c.Id" selected>@c.Name</option>
                    }
                    else
                    {
                        <option value="@c.Id">@c.Name</option>
                    }
                }
            </select>
        </div>

        <div class="form-group">
            <label class="form-label" for="ProductQuantity">Số lượng</label>
            <input type="number" id="ProductQuantity" name="ProductQuantity" value="@Model.product.Quantity" class="form-control" />

        </div>

        <div class="form-group">
            <label class="form-label" for="ProductDescription">Mô tả sản phẩm </label>
            <input type="text" id="ProductDescription" name="ProductDescription" value="@Model.product.Description" class="form-control" />

        </div>



        <div class="form-group mt-3">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu" class="btn btn-primary" />
                <a href="@Url.Action("Index", "ProductManagerment")" class="btn">Hủy</a>
            </div>
        </div>
    </div>
}


