@using WebBanHang.Models;
@model ProductCart
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var listId = new List<string>();
}
<script src="~/Scripts/cartController.js"></script>
<div class="row d-flex justify-content-center my-4">
    <div class="col-md-8">
        <div class="card mb-4">
            <div class="card-header py-3">
                <h5 class="mb-0">Cart - 2 items</h5>
            </div>
            <div class="card-body">
                @{
                    var id = 0;
                    foreach (var p in Model.product)
                    {
                        <!-- Single item -->
                        <div class="row">
                            <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                                <!-- Image -->
                                <div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
                                    <img src="@p.Image"
                                         class="w-100" alt="@p.Name" />
                                    <a href="#!">
                                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                                    </a>
                                </div>
                                <!-- Image -->
                            </div>

                            <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                                <!-- Data -->
                                <p><strong>@p.Name</strong></p>
                                <p>Color: blue</p>
                                <p>Size: M</p>
                                <button type="button" class="btn btn-primary btn-sm me-1 mb-2" data-mdb-toggle="tooltip"
                                        title="Xóa">
                                    <i class="fas fa-trash"></i>
                                </button>
                                <button type="button" class="btn btn-danger btn-sm mb-2" data-mdb-toggle="tooltip"
                                        title="Move to the wish list">
                                    <i class="fas fa-heart"></i>
                                </button>
                                <!-- Data -->
                            </div>

                            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                                <!-- Quantity -->
                                <div class="d-flex mb-4" style="max-width: 300px">
                                    <button class="btn btn-primary px-3 me-2"
                                            onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                                        <i class="fas fa-minus"></i>
                                    </button>

                                    <div class="form-outline">
                                        <input id="form1" min="0" name="quantity" value="1" type="number" class="form-control" />
                                        <label class="form-label" for="form1">Số lượng</label>
                                    </div>

                                    <button class="btn btn-primary px-3 ms-2"
                                            onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                                <!-- Quantity -->
                                <!-- Price -->
                                <p class="text-start text-md-center">
                                    <strong>@String.Format("{0:0,0 VNĐ}", p.Price)</strong>
                                </p>
                                <!-- Price -->
                            </div>
                        </div>
                        <!-- Single item -->
                        <hr class="my-4" />

                    }
                }




            </div>
        </div>

    </div>
    <div class="col-md-4">
        <div class="card mb-4">
            <div class="card-header py-3">
                <h5 class="mb-0">Tổng</h5>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                        Sản phẩm
                        <span>@String.Format("{0:0,0 VNĐ}", ViewBag.TotalPrice)</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        Giao hàng
                        <span>Miễn phí</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                        <div>
                            <strong>Tổng tiền</strong>

                        </div>
                        <span><strong>@String.Format("{0:0,0 VNĐ}", ViewBag.TotalPrice)</strong></span>
                    </li>
                </ul>

                <button type="button" class="btn btn-primary btn-lg btn-block">
                    Go to checkout
                </button>
            </div>
        </div>
    </div>
</div>

<div class="row d-flex justify-content-center align-items-center">
    <div class="col">

        <div class="table-responsive">
            <table class="table" id="table-cart">
                <thead>
                    <tr>
                        <th scope="col" class="h5">Shopping Bag</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody id="table-content-cart">
                    @{
                        id = 0;
                        foreach (var p in Model.product)
                        {
                            <tr style="vertical-align: middle;">
                                <td>
                                    <div class="d-flex align-items-center">
                                        @*<input type="checkbox" value="@p.Id" class="product-selected"/>*@
                                        <img src="@p.Image" class="img-fluid rounded-3"
                                             style="width: 120px;" alt="@p.Name">
                                        <div class="flex-column ms-4">
                                            <p class="mb-0 fw-bold">@p.Name</p>
                                            <p class="mb-2">Thinking, Fast and Slow</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="align-middle">
                                    <div class="d-flex" style="max-width: max-content;">
                                        <!-- Quantity -->
                                        <button class="btn btn-primary px-3 me-2"
                                                onclick="this.parentNode.querySelector('input[type=number]').stepDown(); this.parentNode.querySelector('input').dispatchEvent(new Event('change'))">
                                            <i class="fas fa-minus"></i>
                                        </button>

                                        <div class="form-outline" style="min-width: 50px; max-width: 100px;">
                                            <input id="form1" min="0" name="quantity" value="@Model.cart[id].Quantity" type="number" class="form-control" onchange="Cart.UpdateQuantity(@p.Id,this.value)" />
                                            <label class="form-label" for="form1">Số lượng</label>
                                        </div>

                                        <button class="btn btn-primary px-3 ms-2"
                                                onclick="this.parentNode.querySelector('input[type=number]').stepUp();this.parentNode.querySelector('input').dispatchEvent(new Event('change'))">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                        <!-- Quantity -->
                                    </div>

                                </td>
                                <td class="align-middle">
                                    <!-- Price -->
                                    <p class="mb-0" style="font-weight: 500;">@String.Format("{0:0,0 VNĐ}", p.Price)</p>
                                    <!-- Price -->
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary btn-sm me-1 mb-2" data-mdb-toggle="tooltip"
                                            title="Xóa" onclick="Cart.RemoveProduct(@p.Id)">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                    <button type="button" class="btn btn-danger btn-sm mb-2" data-mdb-toggle="tooltip"
                                            title="Move to the wish list">
                                        <i class="fas fa-heart"></i>
                                    </button>
                                </td>
                            </tr>
                            id++;
                        }
                    }

                </tbody>
            </table>
        </div>

        <div class="card shadow-2-strong mb-5 mb-lg-0" style="border-radius: 16px;">
            <div class="card-body p-4">

                <div class="row">
                    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 mb-md-0">
                        <form>
                            <div class="d-flex flex-row pb-3">
                                <div class="d-flex align-items-center pe-2">
                                    <input class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabel1v"
                                           value="" aria-label="..." checked />
                                </div>
                                <div class="rounded border w-100 p-3">
                                    <p class="d-flex align-items-center mb-0">
                                        <i class="fab fa-cc-mastercard fa-2x text-dark pe-2"></i>Credit
                                        Card
                                    </p>
                                </div>
                            </div>
                            <div class="d-flex flex-row pb-3">
                                <div class="d-flex align-items-center pe-2">
                                    <input class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabel2v"
                                           value="" aria-label="..." />
                                </div>
                                <div class="rounded border w-100 p-3">
                                    <p class="d-flex align-items-center mb-0">
                                        <i class="fab fa-cc-visa fa-2x fa-lg text-dark pe-2"></i>Debit Card
                                    </p>
                                </div>
                            </div>
                            <div class="d-flex flex-row">
                                <div class="d-flex align-items-center pe-2">
                                    <input class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabel3v"
                                           value="" aria-label="..." />
                                </div>
                                <div class="rounded border w-100 p-3">
                                    <p class="d-flex align-items-center mb-0">
                                        <i class="fab fa-cc-paypal fa-2x fa-lg text-dark pe-2"></i>MoMo
                                    </p>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-6">
                        <div class="row">
                            <div class="col-12 col-xl-6">
                                <div class="form-outline mb-4 mb-xl-5">
                                    <input type="text" id="typeName" class="form-control form-control-lg" siez="17"
                                           placeholder="John Smith" />
                                    <label class="form-label" for="typeName">Name on card</label>
                                </div>

                                <div class="form-outline mb-4 mb-xl-5">
                                    <input type="text" id="typeExp" class="form-control form-control-lg" placeholder="MM/YY" size="7" id="exp" minlength="7" maxlength="7" />
                                    <label class="form-label" for="typeExp">Expiration</label>
                                </div>
                            </div>
                            <div class="col-12 col-xl-6">
                                <div class="form-outline mb-4 mb-xl-5">
                                    <input type="text" id="typeText" class="form-control form-control-lg" siez="17"
                                           placeholder="1111 2222 3333 4444" minlength="19" maxlength="19" />
                                    <label class="form-label" for="typeText">Card Number</label>
                                </div>

                                <div class="form-outline mb-4 mb-xl-5">
                                    <input type="password" id="typeText" class="form-control form-control-lg"
                                           placeholder="&#9679;&#9679;&#9679;" size="1" minlength="3" maxlength="3" />
                                    <label class="form-label" for="typeText">Cvv</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-xl-3">

                        <div class="card-header py-3">
                            <h5 class="mb-0">Tổng</h5>
                        </div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                                    Sản phẩm
                                    <span>@String.Format("{0:0,0 VNĐ}", ViewBag.TotalPrice)</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                    Giao hàng
                                    <span>Miễn phí</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                                    <div>
                                        <strong>Tổng tiền</strong>

                                    </div>
                                    <span><strong>@String.Format("{0:0,0 VNĐ}", ViewBag.TotalPrice)</strong></span>
                                </li>
                            </ul>
                            <button class="btn btn-primary">A CLICK </button>
                            <a class="btn btn-primary btn-lg btn-block" href="@Url.Action("Index", "Checkout")">
                                Go to checkout
                            </a>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>